
# Test Plan

**Author**: Vineet Baburaj

## 1 Build Results

![gradle build](../Docs/images/Test_result_1.png)

## 2 Android Autotest Results

![android test](../Docs/images/Test_result_2.png)

## 3 Unit Test Results

![unit test](../Docs/images/Test_result_3.png)

